<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Marcos Vergara</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	
	<link rel="icon" type="/images/png" href="/images/marcos/favicon.png">
	<!-- Font -->
	
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700%7CAllura" rel="stylesheet">
	
	<!-- Stylesheets -->
	
	<link href="/stylesheets/portfolio/bootstrap.css" rel="stylesheet">
	
	<link href="/stylesheets/portfolio/ionicons.css" rel="stylesheet">
	
	<link href="/stylesheets/portfolio/fluidbox.min.css" rel="stylesheet">
	
	<link href="/stylesheets/portfolio/styles.css" rel="stylesheet">
	
	<link href="/stylesheets/portfolio/responsive.css" rel="stylesheet">
	
</head>
<body>
	
	<header>
		<div class="container">
			<div class="heading-wrapper">
				<div class="row">
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="info">
							<i class="icon ion-ios-location-outline"></i>
							<div class="right-area">
								<h5>La Estanzuela, Mevir 10497</h5>
								<h5>Colonia, Uruguay</h5>
							</div><!-- right-area -->
						</div><!-- info -->
					</div><!-- col-sm-4 -->
					
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="info">
							<i class="icon ion-ios-telephone-outline"></i>
							<div class="right-area">
								<h5>+598 92 437 664</h5>
							</div><!-- right-area -->
						</div><!-- info -->
					</div><!-- col-sm-4 -->
					
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="info">
							<i class="icon ion-ios-chatboxes-outline"></i>
							<div class="right-area">
								<h5>marcosdevep@gmail.com</h5>
								<h6>Respuesta en 12 horas</h6>
							</div><!-- right-area -->
						</div><!-- info -->
					</div><!-- col-sm-4 -->
				</div><!-- row -->
			</div><!-- heading-wrapper -->
			<a class="downlad-btn" href="#">Descargar CV</a>
			<a class="cta-btn" href="#">¡ Necesito Una Web !</a>
		</div><!-- container -->
	</header>
	
	<section class="intro-section">
		<div class="container">
			<div class="row">
				<div class="col-md-1 col-lg-2"></div>
				<div class="col-md-10 col-lg-8">
					<div class="intro">
						<div class="profile-img"><img src="/images/marcos/yo.jpg" alt=""></div>
						<h2><b>Marcos Vergara</b></h2>
						<h4 class="font-yellow">Frontend Developer</h4>
						<ul class="information margin-tb-30">
							<li><b>Fecha Nacimiento: </b>April 12, 1998</li>
							<li><b>Email : </b>marcosdevep@gmail.com</li>
							<li><b>Empresa : </b>JUMA Devs</li>
						</ul>
						<ul class="social-icons">
							<li><a href="https://www.linkedin.com/in/marcos-vergara-447006176/" target="_blank"><i class="ion-social-linkedin"></i></a></li>
                            <li><a href="https://www.instagram.com/marcos.developer/" target="_blank"><i class="ion-social-instagram"></i></a></li>
							<li><a href="https://www.facebook.com/profile.php?id=100010288656551" target="_blank"><i class="ion-social-facebook"></i></a></li>
							<li><a href="https://twitter.com/MarcosVDev" target="_blank"><i class="ion-social-twitter"></i></a></li>
						</ul>
					</div><!-- intro -->
				</div><!-- col-sm-8 -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- intro-section -->
	
	<section class="portfolio-section section">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="heading">
						<h3><b>Portfolio</b></h3>
						<h6 class="font-lite-black"><b>Mi trabajo</b></h6>
					</div>
				</div><!-- col-sm-4 -->
				<div class="col-sm-8">
					<div class="portfolioFilter clearfix margin-b-80">
						<a href="#" data-filter="*" class="current"><b>Todos</b></a>
						<a href="#" data-filter=".web-design"><b>Desarrollo web</b></a>
						<a href="#" data-filter=".branding"><b>Branding</b></a>
						<a href="#" data-filter=".graphic-design"><b>Diseño web</b></a>
					</div><!-- portfolioFilter -->
				</div><!-- col-sm-8 -->
			</div><!-- row -->
		</div><!-- container -->
		
		<div class="portfolioContainer">
			
			<div class="p-item web-design branding">
				<a href="/images/portfolio/wt.jpg" data-fluidbox>
					<img src="/images/portfolio/wt.jpg" alt=""></a>
			</div><!-- p-item -->
			
			<div class="p-item web-design graphic-design">
				<a href="/images/portfolio/eventos.jpg" data-fluidbox>
					<img src="/images/portfolio/eventos.jpg" alt=""></a>
			</div><!-- p-item -->
			
			<div class="p-item web-design branding">
				<a href="/images/portfolio/cmc.jpg" data-fluidbox>
					<img src="/images/portfolio/cmc.jpg" alt=""></a>
			</div><!-- p-item -->
			
			<div class="p-item branding web-design">
				<a href="/images/portfolio/garantias.jpg" data-fluidbox>
					<img src="/images/portfolio/garantias.jpg" alt=""></a>
			</div><!-- p-item -->
			
			<div class="p-item graphic-design web-design">
				<a href="/images/portfolio/else.jpg" data-fluidbox>
					<img src="/images/portfolio/else.jpg" alt=""></a>
			</div><!-- p-item -->
			
			<div class="p-item  graphic-design branding">
				<a href="/images/portfolio/luanas.jpg" data-fluidbox>
					<img src="/images/portfolio/luanas.jpg" alt=""></a>
			</div><!-- p-item -->
				
			<div class="p-item web-design graphic-design">
				<a href="/images/portfolio/bocore.jpg" data-fluidbox>
					<img src="/images/portfolio/bocore.jpg" alt=""></a>
			</div><!-- p-item -->

			<div class="p-item graphic-design">
				<a class="img" href="/images/portfolio/inteligencia.jpg" data-fluidbox>
					<img src="/images/portfolio/inteligencia.jpg" alt=""></a>
			</div><!-- p-item -->
		
		</div><!-- portfolioContainer -->
		
	</section><!-- portfolio-section -->
	
	
	<section class="about-section section">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="heading">
						<h3><b>Sobre mi</b></h3>
						<h6 class="font-lite-black"><b>Y mis habilidades profesionales</b></h6>
					</div>
				</div><!-- col-sm-4 -->
				<div class="col-sm-8">
					<p class="margin-b-50">
						Frontend developer y UX/UI designer con 1 año de experiencia como freelancer, también soy co creador y co CEO de JUMA Devs.
						 
					</p>
					
					<div class="row">
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="radial-prog-area margin-b-30">
								<div class="radial-progress" data-prog-percent=".97">
									<div></div>
									<h6 class="progress-title">HTML5 & CSS3 & JS</h6>
								</div>
							</div><!-- radial-prog-area-->
						</div><!-- col-sm-6-->
					
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="radial-prog-area margin-b-30">
								<div class="radial-progress" data-prog-percent=".98">
									<div></div>
									<h6 class="progress-title">Desarrollo Web</h6>
								</div>
							</div><!-- radial-prog-area-->
						</div><!-- col-sm-6-->
						
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="radial-prog-area margin-b-30">
								<div class="radial-progress" data-prog-percent=".87">
									<div></div>
									<h6 class="progress-title">SASS</h6>
								</div>
							</div><!-- radial-prog-area-->
						</div><!-- col-sm-6-->
						
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="radial-prog-area margin-b-50">
								<div class="radial-progress" data-prog-percent=".97">
									<div></div>
									<h6 class="progress-title">Diseño web</h6>
								</div>
							</div><!-- radial-prog-area-->
						</div><!-- col-sm-6-->
					
					</div><!-- row -->
				</div><!-- col-sm-8 -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- about-section -->
	
	<section class="experience-section section">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="heading">
						<h3><b>Experiencia profesional</b></h3>
						<h6 class="font-lite-black"><b>Trabajos previos</b></h6>
					</div>
				</div><!-- col-sm-4 -->
				<div class="col-sm-8">
				
					<div class="experience margin-b-50">
						<h4><b>Frontend Developer</b></h4>
						<h5 class="font-yellow"><b>JUMA Devs</b></h5>
						<h6 class="margin-t-10">Febrero 2018 - Presente</h6>
						<p class="font-semi-white margin-tb-30">En ese entonces realice proyectos como:</p>
						<ul class="list margin-b-30">
							<li><a href="http://comercializadoraluanas.net.co/" target="_blank">Comercializadora LuanaS</a> </li>
							<li><a href="https://cmc.elsepre.com" target="_blank">Confederación Mundial de Coaches</a></li>
							<li><a href="https://www.bocore.org/" target="_blank">Bocore Colombia</a></li>
						</ul>
					</div><!-- experience -->
					
					<div class="experience margin-b-50">
						<h4><b>UI/UX Designer</b></h4>
						<h5 class="font-yellow"><b>JUMA Devs</b></h5>
						<h6 class="margin-t-10">Julio - Presente</h6>
						<p class="font-semi-white margin-tb-30">En este momento se empezaron a crear webs diseñadas para una mejor experiencia del usuario tales como: </p>
						<ul class="list margin-b-30">
							<li><a href="http://www.lasgarantiasmobiliarias.com/" target="_blank">Las Garantías Mobiliarias - Hector Aguirre</a></li>
							<li><a href="https://cmc.elsepre.com/eventos" target="_blank">Webinars ELSE</a></li>
							<li><a href="https://www.wtcolombia.com/" target="_blank">Wellness Training Colombia</a></li>
						</ul>
					</div><!-- experience -->
					
				</div><!-- col-sm-8 -->
			</div><!-- row -->
		</div><!-- container -->
		
	</section><!-- experience-section -->
	
	<section class="education-section section">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="heading">
						<h3><b>Educación</b></h3>
						<h6 class="font-lite-black"><b>Carrera Academica</b></h6>
					</div>
				</div><!-- col-sm-4 -->
				<div class="col-sm-8">
					<div class="education-wrapper">

						<div class="education margin-b-50">
								<h4><b>Diseñador UI/UX</b></h4>
								<h5 class="font-yellow"><b>Udemy</b></h5>
								<h6 class="font-lite-black margin-t-10">Finalizado en 2018(2 meses)</h6>
							</div><!-- education -->

						<div class="education margin-b-50">
							<h4><b>Diseñador Web Avanzado</b></h4>
							<h5 class="font-yellow"><b>Udemy</b></h5>
							<h6 class="font-lite-black margin-t-10">Finalizado en 2018 (4 meses)</h6>
						</div><!-- education -->

						<div class="education margin-b-50">
							<h4><b>Educación terciaria - Analista programador</b></h4>
							<h5 class="font-yellow"><b>CTC Colonia</b></h5>
							<h6 class="font-lite-black margin-t-10">En curso (2 años)</h6>
						</div><!-- education -->
						
						<div class="education margin-b-50">
							<h4><b>Educación Secundaria - Bachiller informatico</b></h4>
							<h5 class="font-yellow"><b>UTU Colonia del Sacramento</b></h5>
							<h6 class="font-lite-black margin-t-10">Graduado en 2015(3 años)</h6>
						</div><!-- education -->
						
						<div class="education margin-b-50">
							<h4><b>Educación Secundaria - Ciclo Básico</b></h4>
							<h5 class="font-yellow"><b>Liceo Tarariras</b></h5>
							<h6 class="font-lite-black margin-t-10">Graduado en 2012(3 años)</h6>
						</div><!-- education -->
					</div><!-- education-wrapper -->
				</div><!-- col-sm-8 -->
			</div><!-- row -->
		</div><!-- container -->
		
	</section><!-- about-section -->
	
	<section class="counter-section" id="counter">
		<div class="container">
			<div class="row">
			
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="counter margin-b-30">
						<h1 class="title"><b><span class="counter-value" data-duration="400" data-count="746">0</span></b></h1>
						<h5 class="desc"><b>Tazas de café (al día)</b></h5>
					</div><!-- counter -->
				</div><!-- col-md-3-->
				
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="counter margin-b-30">
						<h1 class="title"><b><span class="counter-value" data-duration="1400" data-count="25">0</span></b></h1>
						<h5 class="desc"><b>Proyectos completados</b></h5>
					</div><!-- counter -->
				</div><!-- col-md-3-->
				
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="counter margin-b-30">
						<h1 class="title"><b><span class="counter-value" data-duration="700" data-count="25">0</span></b></h1>
						<h5 class="desc"><b>Clientes satisfechos</b></h5>
					</div><!-- counter -->
				</div><!-- col-md-3-->
				
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="counter margin-b-30">
						<h1 class="title"><b><span class="counter-value" data-duration="2000" data-count="600">0</span></b></h1>
						<h5 class="desc"><b>Horas trabajadas</b></h5>
					</div><!-- margin-b-30 -->
				</div><!-- col-md-3-->
			</div><!-- row-->
		</div><!-- container-->
    </section><!-- counter-section-->
	
	<footer>
		<p class="copyright">
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Designed by <i class="ion-jet" aria-hidden="true"></i> <a href="https://colorlib.com" target="_blank">Marcos Vergara</a>
        </p>


	</footer>
	
	
	<!-- SCIPTS -->
	
	<script src="/javascripts/portfolio/jquery-3.2.1.min.js"></script>
	
	<script src="/javascripts/portfolio/tether.min.js"></script>
	
	<script src="/javascripts/portfolio/bootstrap.js"></script>
	
	<script src="/javascripts/portfolio/isotope.pkgd.min.js"></script>
	
	<script src="/javascripts/portfolio/jquery.waypoints.min.js"></script>
	
	<script src="/javascripts/portfolio/progressbar.min.js"></script>
	
	<script src="/javascripts/portfolio/jquery.fluidbox.min.js"></script>
	
	<script src="/javascripts/portfolio/scripts.js"></script>
	
</body>
</html>